.idea
cmake-build-debug
cmake-build-release
runs
**/__pycache__
bin/cell_evolution
bin/sweep_genomes
scripts/genome/no-mul-uni_out.csv
scripts/genome/data/2.csv
scripts/genome/no-mul-uni.csv
build
scripts/genome/plots.svg